<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href= "{{url_for('static', filename='CSS/index.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    Indicators & Stocks
    #APP --> Apple MACD Results
    <div class="col-md-12">
        <table class="table table-striped apple_macd_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Hist</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> Apple RSI Results
    <div class="col-md-12">
        <table class="table table-striped apple_rsi_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>RSI</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> Apple Stoch Results
    <div class="col-md-12">
        <table class="table table-striped apple_stoch_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Slowk</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> Google MACD Results
    <div class="col-md-12">
        <table class="table table-striped google_macd_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Hist</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> Google RSI Results
    <div class="col-md-12">
        <table class="table table-striped google_rsi_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>RSI</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> Google Stoch Results
    <div class="col-md-12">
        <table class="table table-striped google_stoch_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Slowk</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> TESLA MACD Results
    <div class="col-md-12">
        <table class="table table-striped tesla_macd_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Hist</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> TESLA RSI Results
    <div class="col-md-12">
        <table class="table table-striped tesla_rsi_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>RSI</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    #APP --> TESLA Stoch Results
    <div class="col-md-12">
        <table class="table table-striped tesla_stoch_results">
            <thead>
                <tr><th>Date</th><th>Close</th><th>Slowk</th><th>Buy</th><th>Sell</th><th>capital</th><th>shares</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='JS/app.js')}}"></script>
</body>
</html>